LLM_API_KEY=
LLM_API_BASE_URL=
LLM_ENDPOINT=

EMBEDDING_BASE_URL=https://llm-wr7ttl2cmbxjma6u.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
EMBEDDING_API_KEY=
EMBEDDING_MODEL=qwen3.7-text-embedding
EMBEDDING_DIMENSIONS=1024
